* {
  box-sizing: border-box;
}

/* 반응형 디자인에 유용한 자식에게 주는 속성! */
body {
  margin: 0;
}
.container {
  display: flex;
  /*Main Axis*/
  justify-content: space-around;
  height: 100vh;
  align-items: center;
}
/* flex-grow와 flex-shrink는 child에게 줄 수 있는 속성 */

/* flex-shrink는 flexbox가 쥐어짜질때 어떤 element가 찌그러질지 행동을 정의 */
/* flex-shrink: 1이 기본값 */
/* flex-grow는 flexbox가 남을때 어떤 element가 커질지 행동을 정의 */
/* flex-grow: 0이 기본값 */
.box {
  width: 350px;
  height: 350px;
  background: lightcoral;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:nth-child(2) {
  background: lightblue;
  /* flex-shrink: 3; */
  /* 남은 공간 1/3 */
  flex-grow: 1;
}

.box:last-child {
  /* flex-shrink: 2; */
  /* 남은 공간 2/3 */
  flex-grow: 2;
}
